.container1{
    margin: auto;
}
.box{
    margin: 5px;
    border: 1px solid orangered;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 35px;
}
.but{
    display: flex;

}
.tab{
    border: 1px solid darkgreen;
    text-align: center;
}